.main {
    $this: &;

    background-attachment: fixed;
    background-color: #537f1a;
    background-image: url(/images/cover--anxiety.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    flex-direction: row;

    &__content {
        background-color: hsla(0, 0%, 99%, .95);
        flex: 0 0 35%;
        padding: 4rem;
    }

    &__image {
        flex: 1;
    }

}
