.color-se__semente-color    { fill: #8a8b8e; }
.color-se__educacao-color   { fill: #58595b; }
.color-se__grafismo         { fill: #0066b3; }

.color-ps__type-color       { fill: #1a2a2d; }
.color-ps__tronco-color     { fill: #383838; }
.color-ps__copa-color       { fill: #8cc641; }

