.btn {
    background-color: #1a2a2d;
    border: 0 solid transparent;
    border-radius: 4px;
    color: #e5e51f;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.5;
    padding: 1.25em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &--xxs { font-size: .625rem; padding: .75em 1.25em;}
    &--xs { font-size: .625rem; }
    &--sm { font-size: .825rem; }

    &:hover {
        background-color: $gray-40;
    }

}
