.form {
    $this: &;

    font-size: 16px;

    &__block {

        &:not(:last-of-type) {
            margin-bottom: 3vh;
        }

    }

    &__label {
        display: block;
        font-size: .75em;
        opacity: .75;
    }

    &__input {
        background-color: transparent;
        border: 0 solid transparent;
        border-bottom: 1px solid $gray-10;
        border-radius: 2px;
        display: block;
        font-size: 1em;
        font-weight: bold;
        max-width: 24rem;
        padding: 0;
        width: 100%;
    }

    &__error {
        color: $color-error;
        font-size: .65em;
        letter-spacing: .05em;

        &--is-show {
            display: block;
        }

    }

    &__btn {
        margin-top: 3vh;
    }

}
