.form {
    $this: &;

    display: flex;
    flex-direction: column;
    font-size: 16px;

    &__block {
        align-self: flex-start;
        display: inline-flex;
        flex-direction: column;
        min-width: 24rem;
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

    }

    &__label {
        display: block;
        font-size: .75em;
        opacity: .75;
    }

    &__input {
        background-color: transparent;
        border: 0 solid transparent;
        border-bottom: 1px solid $gray-10;
        border-radius: 2px;
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding: 0;
        width: 100%;
    }

    &__error {
        color: inherit;
        display: inline-block;
        font-size: inherit;

        &--is-show {
            display: block;
        }

    }

    &__btn {

        @include media('landscape') {
            align-self: flex-start;
        }

    }

}
